@model OOAD_CA_Team1.Models.Tour
@using OOAD_CA_Team1.TourReservationSysDB;


@{
    ViewBag.Title = "Tour Details";
    int tid = ViewBag.tid;

}
<h2>Tour Details</h2>
<div>
    <hr />
    @if (!String.IsNullOrEmpty(ViewBag.message))
    {
    <h5 style="color:green">@ViewBag.message </h5>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TourLeaderCost)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.TourLeaderCost)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.MinPassenger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPassenger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPassenger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPassenger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourPackageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourPackageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourLeaderName)
        </dt>

        @using (Html.BeginForm("AssignLeader", "Tour", FormMethod.Post))
        {
            if (Model.Status == (int)DBTour.TourStatus.Full || Model.Status == (int)DBTour.TourStatus.Open)
            {
                <dd>
                    @Html.DropDownList("TourLeader", new SelectList(ViewBag.tl_list, "TourLeaderID", "Name", Model.TourLeaderId), "Select TourLeader")
                    @*@foreach (var leader in ViewBag.tl_list)
                    {
                    }*@
                    <input type="submit" name="AssignLeader" value="Assign Leader" class="btn btn-success" formaction="/Tour/AssignLeader?tid=@tid" />

                </dd>
            }
            else
            {
                <dd>
                    @Html.DropDownList("TourLeader", new SelectList(ViewBag.tl_list, "TourLeaderID", "Name", Model.TourLeaderId), "Select TourLeader", new { @disabled = "disabled" })
                    @*@foreach (var leader in ViewBag.tl_list)
                    {
                    }*@
                    <input type="submit" name="AssignLeader" value="Assign Leader" class="btn btn-success" disabled="disabled" title="Tour is Departed! Can't Assign Leader" formaction="/Tour/AssignLeader?tid=@tid" />

                </dd>
            }

        }
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Tourlist",null,new { @class="btn btn-default"})
</p>
